@keyframes shake {
    0%, 100% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }
  
  .shake {
    animation: shake 1s ease-in-out infinite;
  }
  